.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 20%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-4 img{
    width: 30%;
}
.col-4 p{
    font-size: 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
body{
    background-color: #F5DEB3;
}
   .brd {
    border: 4px double black;
    background: rgb(224, 205, 145); 
    padding: 10px; 
   }
